@import 'helpers';

:host {
  display: block;
  background: #fefefe;
  padding: size(l) size(xxl);

  // make h1 general style
  .title {
    font-family: Sagona-Medium, Georgia, serif;
    color: #000;
    line-height: 140%;
    font-weight: 400;
    font-size: 2rem;
  }

  // TODO: move to ui lib
  .submit-btn {
    font-size: 1rem;
    text-align: center;
    color: get-color('white');
  }
}
