/* You can add global styles to this file, and also import other style files */
@import 'reset-css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'global-styling';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);
@source '../../../libs';

@theme {
  --color-success: #28a745;
}

body {
  display: block;
  position: relative;
  max-width: 1337px;
  margin: auto;
}
