<h1 class="mb-m">Welcome to the course admin</h1>

<div>
  <mat-accordion>
    <mat-expansion-panel
      *ngFor="let section of sections$ | async"
      data-test="section"
    >
      <mat-expansion-panel-header>
        <mat-panel-title (click)="onSectionClicked($event, section.id)">
          {{ section.id }}
        </mat-panel-title>
        <mat-panel-description (click)="onSectionClicked($event, section.id)">
          {{ section.name }}
        </mat-panel-description>

        <button class="mr-l" (click)="onCreateSectionClicked($event)">
          +
        </button>
      </mat-expansion-panel-header>
      <mat-selection-list #shoes [multiple]="false">
        <mat-list-option
          *ngFor="let lesson of section.lessons"
          (click)="onLessonClicked(section.id, lesson.id)"
        >
          {{ lesson.name }}
        </mat-list-option>
      </mat-selection-list>
      <button
        mat-raised-button
        color="primary"
        (click)="onCreateLessonClicked(section.id)"
      >
        Create lesson
      </button>
    </mat-expansion-panel>
  </mat-accordion>
</div>
