<div fxLayout="row" class="mb-l" fxLayoutAlign="space-between start">
  <h1 class="mb-m">Welcome to the course admin</h1>
  <app-button (clicked)="onCreateSectionClicked($event)">
    Create Section
  </app-button>
</div>

<div *ngIf="currentCourseId$ | async as currentCourseId">
  <mat-accordion [multi]="true">
    <mat-expansion-panel
      *ngFor="let section of sections$ | async; trackBy: trackBy"
      data-test="section"
      [expanded]="true"
    >
      <mat-expansion-panel-header>
        <mat-panel-title
          (click)="onSectionClicked($event, section.id, currentCourseId)"
        >
          {{ section.name }}
        </mat-panel-title>
        <mat-panel-description
          (click)="onSectionClicked($event, section.id, currentCourseId)"
        >
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-selection-list #shoes [multiple]="false">
        <a
          *ngFor="let lesson of section.lessons"
          [routerLink]="getLessonUrl(section.id, lesson.id, currentCourseId)"
        >
          <mat-list-option>
            {{ lesson.name }}
          </mat-list-option>
        </a>
      </mat-selection-list>
      <app-button (clicked)="onCreateLessonClicked(section.id)">
        Create lesson
      </app-button>
    </mat-expansion-panel>
  </mat-accordion>
</div>
