<div class="sticky-container"></div>

<div class="toolbar mat-elevation-z4">
  <mat-toolbar color="primary">
    <span routerLink="" class="branding spacer">
      <img [src]="logo" [alt]="logo" />
      {{ 'topbar.title' | translate }}
    </span>

    <ul class="menu-items">
      <li *ngFor="let item of navigation" class="menu-item-wrapper">
        <a class="nav-button" routerLinkActive="active" [href]="item.link">
          <mat-icon *ngIf="item.icon" class="icon">{{ item.icon }}</mat-icon>
          {{ item.label | translate }}
        </a>
      </li>
      <li class="search-button menu-item-wrapper">
        <a class="nav-button" routerLinkActive="active">
          <mat-icon class="icon">search</mat-icon>
        </a>
      </li>
    </ul>
  </mat-toolbar>
</div>
