<h1>Courses</h1>

<ng-container *ngIf="courses$ | async as courses">
  <div fxLayout="row">
    <mat-card
      *ngFor="let course of courses"
      fxFlex.gt-md="33"
      class="course-card"
      (click)="courseSelected(course.id)"
      ><mat-card-title>{{ course.name }}</mat-card-title>
      <img mat-card-image src="/assets/img/login.jpg" alt="course picture" />
      <mat-card-content>
        <p>
          {{ course.description }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
