@import 'helpers';

.container {
  background: url('/assets/img/login.jpg') no-repeat 0;
  background-size: cover;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  align-items: center;
  justify-items: center;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  .login-box {
    position: relative;
    bottom: 56px;
    box-shadow: 0 10px 80px #000;
    border-radius: 5px;
    max-width: 600px;
    margin: auto;
    background: #fefefe;
    overflow: hidden;

    .header {
      padding: 40px;
      color: get-color('white');
      background-color: get-color('black');
      text-align: center;
      .brand {
        font-family: AvenirNextLTPro-Regular, Helvetica Neue, Arial, Helvetica,
          sans-serif;
        font-weight: bold;
        font-size: 24px;
      }
    }

    .form-wrapper {
      padding: 40px 30px;

      .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        input {
          box-shadow: none;
          border: 2px solid #ebeeef;
          padding: 8px 10px;
          outline: none;
          background: #fff;
          border-radius: 5px;
          font-size: 0.9375rem;
        }
        label {
          font-weight: bold;
          display: block;
          font-family: AvenirNextLTPro-Demi Arial, Helvetica, sans-serif;
          text-transform: uppercase;
          font-size: 0.75rem;
          color: #222;
          letter-spacing: 0.025rem;
          margin-bottom: 10px;
        }
      }

      .button-wrapper {
        text-align: center;
      }
    }

    .error {
      color: get-color('warn');
    }
  }
}
