:host {
  display: block;
  width: 100%;
  .wrapper {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;

    .content {
      background: #fefefe;
      padding: 40px;
    }
  }
}
