<app-topbar></app-topbar>
<div class="wrapper" fxLayout="row" xLayoutAlign="space-between">
  <app-course-sidebar
    fxFlex="25"
    class="sidebar"
    [sections]="sections$ | async"
    [selectedSectionId]="selectedSectionId$ | async"
    [lessons]="sectionLessons$ | async"
    [selectedLessonId]="(selectedLesson$ | async)?.id"
    (lessonSelected)="onLessonSelected($event)"
    (sectionChanged)="onSectionSelected($event)"
  ></app-course-sidebar>

  <div class="content" fxFlex="75">
    <app-course-content
      *ngIf="selectedLesson$ | async as selectedLesson"
      [lesson]="selectedLesson"
    ></app-course-content>
  </div>
</div>
