/* You can add global styles to this file, and also import other style files */
@import 'reset-css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'global-styling';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  display: block;
  height: 100%;
}
