<div class="header">
  <h1 class="lesson-title">1. Welcome to the course</h1>

  <button mat-button color="primary">Mark Complete</button>
</div>

<div class="body">
  <div class="video-wrapper">
    <h1>VIDEO GOES HERE</h1>
    <!-- TODO: put video link here -->
  </div>

  <div fxLayout="row" fxLayoutGap="20px">
    <div class="lesson-description" fxFlex="75">
      <h2 class="label">ABOUT THIS LESSON</h2>
      <p>
        What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing
        and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s, when an unknown printer took a galley
        of type and scrambled it to make a type specimen book. It has survived
        not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with
        the release of Letraset sheets containing Lorem Ipsum passages, and more
        recently with desktop publishing software like Aldus PageMaker including
        versions of Lorem Ipsum.
      </p>
    </div>

    <div class="resouces" fxFlex="25">
      <h2 class="label">Resources</h2>

      <ul fxLayoutGap="2px" fxLayout="column">
        <li>
          <a class="resource" href="#">
            Resource 1
          </a>
        </li>
        <li>
          <a class="resource" href="#">
            Resource 2
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
