<form [formGroup]="formGroup">
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Lesson name" formControlName="name" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      placeholder="Lesson description"
      formControlName="description"
    ></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Video URL</mat-label>
    <input matInput placeholder="Video URL" formControlName="videoUrl" />
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    (click)="saveClicked.emit(formGroup)"
  >
    Save lesson
  </button>
  <button
    mat-raised-button
    color="warn"
    (click)="deleteClicked.emit(formGroup)"
  >
    Delete Lesson
  </button>
</form>
