<form [formGroup]="formGroup">
  <mat-form-field class="flex">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Lesson name" formControlName="name" />
  </mat-form-field>

  <mat-form-field class="flex">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      class="description"
      placeholder="Lesson description"
      formControlName="description"
    ></textarea>
  </mat-form-field>

  <mat-form-field class="flex">
    <mat-label>Video URL</mat-label>
    <input matInput placeholder="Video URL" formControlName="videoUrl" />
  </mat-form-field>

  <h3 class="mt-m">Lesson resources</h3>

  <div
    class="mb-l"
    *ngFor="
      let resourceFromGroup of formGroup.controls.resources['controls'];
      let i = index
    "
  >
    <mat-form-field class="flex">
      <mat-label>Name</mat-label>
      <input matInput [formControl]="resourceFromGroup.controls.name" />
    </mat-form-field>
    <mat-form-field class="flex">
      <mat-label>Url</mat-label>
      <input matInput [formControl]="resourceFromGroup.controls.url" />
    </mat-form-field>

    <app-select class="flex" [formControl]="resourceFromGroup.controls.type">
      <app-select-option
        *ngFor="let resourceType of resourceTypes"
        [value]="resourceType"
      >
        {{ resourceType }}
      </app-select-option>
    </app-select>

    <app-button
      color="warn"
      type="button"
      (buttonClicked)="
        deleteResourceClicked.emit(resourceFromGroup.controls.id.value)
      "
      >delete resource</app-button
    >
  </div>

  <app-button
    class="mr-s"
    *ngIf="!hasTempResource"
    (buttonClicked)="addResourceClicked.emit()"
    >Add resource</app-button
  >
  <app-button
    class="mr-s"
    color="success"
    (buttonClicked)="saveClicked.emit(formGroup)"
    >Save lesson</app-button
  >
  <app-button color="warn" (buttonClicked)="deleteClicked.emit(formGroup)"
    >Delete Lesson</app-button
  >
</form>
