<div class="sidebar">
  <div class="section-box">
    <small class="week-theme-label">WEEK THEME</small>
    <h5 class="week-theme">Drawing Your Clean Architecture</h5>
  </div>

  <div class="progress-bar-wrapper">
    <small class="label"
      >{{ sectionCompletedPct | number: '1.2-2' }}% complete</small
    >
    <mat-progress-bar
      class="progress-bar"
      mode="determinate"
      [value]="sectionCompletedPct"
    ></mat-progress-bar>
  </div>

  <app-select
    class="section-select-form-field"
    [value]="selectedSectionId"
    (valueChange)="sectionChanged.emit($event)"
  >
    <app-select-option *ngFor="let section of sections" [value]="section.id">
      {{ section.name }}
    </app-select-option>
  </app-select>

  <app-section-lessons
    [lessons]="lessons"
    [selectedLessonId]="selectedLessonId"
    (lessonSelected)="lessonSelected.emit($event)"
  ></app-section-lessons>
</div>
